.controls {
  background: rgba(217, 217, 217, 0.2);
  width: 100%;
  padding: 8px 0;
  border-radius: 20px;
  padding-left: 12px;
  font-size: 12px;
}

.controlsTransparent {
  background: transparent;
  padding: 0;
}
