.CalendarTimeLabel {
  height: 120px;

  &:last-child {
    height: 30px;
  }
}

.CalendarTimeGrid {
  border-width: 0.5px;

  &:first-child {
    border-top-width: 1.5px;
  }

  &:last-child {
    border-bottom-width: 1.5px;
  }

  &:not(:last-child) {
    border-bottom-width: 0px;
  }

  &.FullHourTimeGrid {
    border-bottom-width: 1.5px;
  }
}

.CalendarEventCard {
  right: 0;
  left: 0;
  top: 0;
  border-radius: 5px;

  .CalendarEventLabel {
    right: 1rem;
    bottom: 0.5rem;
    border-radius: 20px;
    border: 0.5px solid #d2693f;
  }

  .CalendarNoteIcon {
    right: 1rem;
    bottom: 0.75rem;
  }
}

.CalendarScheduleItem {
  min-height: 30px;
  border-right: 0.5px solid #e9e9e9;
  border-bottom: 0.5px solid #e9e9e9;
  text-align: center;

  .CalendarScheduleLabel {
    height: 25px;
    line-height: 25px;
    border-radius: 5px;
    background-color: #c8e3e266;
    margin: 0 0.25rem;
  }
}

.ModalForm {
  :global(.adm-list-body) {
    border-style: none;
    background-color: transparent;
  }

  :global(.adm-list-item) {
    background-color: transparent;
    padding-left: 0;
  }

  :global(.adm-list-item-content) {
    border-top-style: none;
    padding-right: 0;
  }

  :global(.adm-list-item-content-main) {
    padding: 0;
    min-height: 36px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);

    :global(.adm-form-item-child-inner) {
      border-radius: 20px;
      background-color: #2a49480d;
      padding: 9px 8px;
    }
  }

  :global(.adm-list-item-content-arrow) {
    display: none;
  }
}

:global(.adm-popover-inner-content) {
  font-size: 12px;
}

.swiperItem {
  // width: calc(10%);
  flex: 1;
}

.swiperItemFull {
  width: calc(100%);
}

.leftOutlineStyle {
  position: absolute;
  left: 24px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  z-index: 999;
}
.rightOutlineStyle {
  position: absolute;
  right: 24px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  z-index: 999;
}

:global(.ant-dropdown-menu-title-content) {
  display: flex;
  justify-content: center;
}
