.customerInfo {
  background-color: #2A4948;
  position: relative;
  background-color: #fff;
  width: 100%;

  .customerHeader {
    width: 100%;
    position: relative;
    overflow: hidden;
    &::after {
      content: '';
      width: 120%;
      height: 100%;
      position: absolute;
      left: -10%;
      top: 0;
      border-radius: 0 0 50% 50%;
      background: #2A4948;
    }
  }
}

