.icon {
  width: 28px;
  height: 28px;
}

.border-t {
  border-top: 1px solid #bdbdbd;
}

.border-b {
  border-bottom: 1px solid #bdbdbd;
}

.border-r {
  border-right: 1px solid #bdbdbd;
}

.border-l {
  border-left: 1px solid #bdbdbd;
}
