.CalendarView {
  width: 100vw;
  min-height: 100vh;
  background-color: #fff;

  .BorderedViewItem {
    width: 100%;
    padding: 12px 0;
    color: #777;

    &:not(:last-child) {
      border-bottom: 0.5px solid #a1a1a1;
    }
  }

  .Avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1.5px solid #c8e3e2;

    & > img {
      width: 39px;
      height: 39px;
      border-radius: 50%;
      object-fit: cover;
    }

    & > div {
      width: 39px;
      height: 39px;
      border-radius: 50%;
      background-color: rgba(200, 227, 226, 0.3);

      // 以下仅用于演示
      font-size: 24px;
      color: #c8e3e2;
      text-align: center;
      line-height: 39px;
    }
  }
}
.input {
  background: rgba(217, 217, 217, 0.2);
  border-radius: 20px;
  font-size: 12px;
}
.controls {
  background: rgba(217, 217, 217, 0.2);
  width: 100%;
  padding: 8px 0;
  border-radius: 20px;
  padding-left: 12px;
  font-size: 12px;
}

:global(.adm-text-area-element) {
  font-size: 12px;
}

:global(.adm-center-popup-wrap) {
  // min-width: 95%;
  min-width: 300px;
}

.earnestInput {
  position: relative;
  &::before {
    content: '$';
    top: 0;
    right: 0;
    font-size: 12px;
    padding-right: 4px;
  }
}
.PcearnestInput {
  border-radius: 24px;
  background-color: #f2f5f5 !important;
  border: none;
  :global(.ant-input) {
    background-color: #f2f5f5 !important;
    border-radius: 0 24px 24px 0;
  }
}


