.AddEmployeeForm {
  width: 100%;
  min-height: 100vh;
  background: #fff;
  :global(.adm-input) {
    min-height: 38px;
    border-radius: 20px;
    padding-left: 12px;
    padding-right: 12px;
    // background: rgba(217, 217, 217, 0.2);
  }
  .input {
    background: rgba(217, 217, 217, 0.2);
    border-radius: 20px;
  }
  .priceForm {
    :global(.adm-input) {
      background: rgba(217, 217, 217, 0.2);
    }
  }
  :global(.adm-text-area) {
    border-radius: 16px;
    background: rgba(217, 217, 217, 0.2);
  }
  :global(.adm-input-element) {
    font-size: 12px;
  }
  :global(.adm-text-area-element) {
    font-size: 12px;
    padding: 6px 12px;
    padding-left: 12px;
  }
  :global(.adm-form-item-label) {
    font-size: 14px;
    line-height: 38px;
  }
  :global(.adm-list-item-content-prefix) {
    width: auto;
    min-width: 4.25rem;
  }
  :global(.adm-list-item-content) {
    padding-right: 0;
  }
  :global(.adm-form) {
    --border-bottom: none;
    --border-top: none;
    --border-inner: none;
  }
  :global(.adm-list-item) { 
    padding-left: 0;    
  }
  :global(.adm-plain-anchor) {
    &:active:not(.adm-list-item-disabled) {
      background: none;
    }
    :global(.adm-list-item-content-main) {
      background: rgba(217, 217, 217, 0.2);
      border-radius: 20px;
      height: 38px;
      
    }
    :global(.adm-list-item-content) {
      align-items: center;
    }
    :global(.adm-list-item-content-arrow) {
      display: none;
    }
  }
}

